/* Loader overlay - full screen, centered, above all content */
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    margin: 0;
    padding: 0;
}

/* Loader GIF - absolutely centered */
.loader-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}
